// app global css in SCSS form

@use "base";

* { 
  font-family: 'Poppins';
}

.q-page {
  min-height: unset !important;
  padding: 0;
}

.q-table {
  &__container {
    background-color: $secondary-1;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding: 1.6rem;
  }

  th {
    font-size: 1.4rem;
  }

  &__middle {
    color: $primary-2;
  }
}
