html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #f2f2fd;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #8b86bd;

  &:hover {
    background-color: #120e41;
  }
}

::-webkit-scrollbar-track {
  background-color: #f2f2fd;
}
